<app-header></app-header>
<div class="form container">
  <form class="my-5 p-5">
      <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">ادخل الاسم :</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="الاسم">
      </div>
      <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">ادخل الايميل :</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="الايميل">
      </div>
      <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">ادخل الرقم السرى :</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="ادخل الرقم السرى">
      </div>
      <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">ادخل مقترحات :</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <button class="btn btn-dark" >تسجيل دخول !</button>
  </form>

  </div>
