  <app-header></app-header>
    <div class="card-info d-flex justify-content-center ">
      <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="assets/images/hussein.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"> مرحبا ...</h5>
                <p class="card-text"> مطور برمجيات محترف ومشترك فى العديد من المشاريع المختلفة والتطبيقات  </p>
                <p class="card-text"><small class="text-muted">شكرا لك ...           
                </small></p>
             
              </div>
            </div>
          </div>
        </div>
        </div>
    
