<div class="footer  bg-dark  p-5">
  <div class="main container d-flex justify-content-around text-light fw-bold">
    <div class="about-me ">
      <p>الصفحة الرئيسية</p>
      <p>تواصل معنا</p>
      <p>من نحن</p>
      <p>المقترحات</p>
    </div>
    <div class="info ">
      <textarea class="form-control bg-light" id="exampleFormControlTextarea1"></textarea>
      <div class="icons mt-5">
        <a href="https://web.facebook.com/profile.php?id=100012996401775"><i
            class="fa-brands fa-facebook text-light "></i></a>
        <a href="#"><i class="fa-brands fa-youtube text-light "></i></a>
        <a href="https://www.linkedin.com/in/el-husseiny-hamada/"><i class="fa-brands fa-linkedin text-light"></i></a>
      </div>
    </div>
  </div>
</div>