/* start section-header */

.section-header{
  background-color:#EFEEF8;
  min-width:100%;
  padding:0px;
  outline:none;
}
.section-header select{
  width:100px;
}
.section-header .active,
 .active1,
 .active2,
 .active3
{
  padding:20px;
  margin:0px;
  cursor:pointer;
}
.section-header .active{
  background-color:#E0DFF1;

}

.section-header .active:hover,
.active1:hover,
.active2:hover,
.active3:hover {
  background-color:#E0DFF1;

}

/* end section-header */
